---
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
// @ts-ignore
import type { CollectionEntry } from 'astro:content';
import { format_date_readable } from '~/utils/format';

type Props = Omit<CollectionEntry<'blog'>['data'], 'is_draft'> & {
	slug: CollectionEntry<'blog'>['slug']
};

const {description,published,title,slug,tags,is_pinned,cover} = Astro.props;

const HOVER_DURATION = 250;

const st = {
	_: `relative block w-full rounded-2xl border-[2px] border-black/80 overflow-hidden shadow-[0_10px_28px_-19px_rgba(186,186,186,1)] group hover:scale-[101%] duration-[${HOVER_DURATION}ms] hover:cursor-pointer hover:-translate-y-2`,
	'pin-bg': `absolute right-0 top-0 translate-x-1/2 -translate-y-1/2 z-10 fill-white  text-[color:#92AC3D] group-hover:text-[color:#A8C644] duration-[${HOVER_DURATION}ms]`,
	pin: `absolute right-3 top-3 z-10 rotate-[45deg] text-[color:white]`,
	image: `h-[200px] w-full object-cover`,
	wrapper: `py-10 px-14 h-full bg-primary/10 group-hover:bg-primary/20 duration-[${HOVER_DURATION}ms]`,
	date: `text-gray-400 text-fluid-sm`,
	flex: `flex flex-col h-[20rem]`,
	title: `flex-none text-start text-fluid-xl leading-[1.2]  line-clamp-2 text-space-ellipsis mt-2`, // h-[calc(1em*1.6*2)]
	description: `flex-auto mt-4 października 2023 overflow-hidden text-ellipsis`,
}
---

<a class={st._} href={`/blog/${slug}`}>
	{is_pinned && (
		<Icon class={st['pin-bg']} name="mdi:circle" size={100} />
		<Icon class={st.pin} name='mdi:pin' size={20} />
	)}
	<Image class={st.image} alt={title} src={cover} transition:name={`${slug}-cover`} />
	<div class={st.wrapper}>
		<time class={st.date} datetime={published.toISOString()} transition:name={`${slug}-published`}>{format_date_readable(published)}</time>
		<div class={st.flex}>
			<h2 class={st.title} transition:name={`${slug}-title`}>{title}</h2>
			<p class={st.description}>{description}</p>
		</div>
	</div>
</a>