---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content'
import { Page } from '~/layouts';
import { Tag } from 'atoms';
import { format_date, format_date_readable } from '~/utils/format';

type Props = {
	post: CollectionEntry<'blog'>;
}

const {data,render,slug} = Astro.props.post;

const {published,title,tags,cover} = data;

const {Content} = await render();

const st = {
	_: `px-page_x pt-page_y mx-auto sm:max-w-[80vw] lg:max-w-[60vw]`,
	back_btn: `border-primary border-2 rounded-[4rem] py-4 px-8 text-fluid-xs cursor-pointer duration-[300ms]`,
	date: `block mt-10 text-gray-600 text-fluid-sm`,
	tags: `flex gap-3 text-gray-800 mt-2 md:mt-4`,
	image: `w-full h-auto my-10 mb-6 md:mt-14 md:mb-10`,
	title: `text-start text-fluid-3xl mt-6 font-heading2 md:tracking-[.2rem] text-primary-darker`,
	content: `prose-h2:text-start prose-h2:mt-10 prose-p:mt-10 prose-p:leading-[1.8] prose-ul:list-disc prose-ol:list-decimal prose-ul:mt-10 prose-ol:mt-10`,
}
---

<Page title={title}>
	<article class={st._}>
		<!-- <a href="./">
			<button id='back' class={st.back_btn}>
				Go back
			</button>
		</a> -->
		<time class={st.date} datetime={published.toISOString()} transition:name={`${slug}-published`}>{format_date_readable(published)}</time>
		<div class={st.tags}>
			{tags.map(tag => <Tag text={tag} />)}
		</div>
		<h1 class={st.title} transition:name={`${slug}-title`}>{title}</h1>
		<Image class={st.image} alt='' src={cover} transition:name={`${slug}-cover`} />
		<div class={st.content}>
			<Content />
		</div>
	</article>
</Page>

<script>
	(function() {
		const active_styles = `text-white bg-primary`;

		const btn = document.getElementById('back')
		if (!btn) return;

		btn.addEventListener('click', () => {
			btn.classList.add('text-white');
			btn.classList.add( 'bg-primary');
		})
	})()
</script>